<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask 03</title>
    <style>
        .container{
            width: 60%;
            margin: 0 auto;
            text-align: center;
            border: 10px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>哈囉，你的名子是 {{name}}</h1>
        <p>Flask網頁測試中</p>
    </div>
    
</body>
</html>